<!DOCTYPE html>
<html>

{% include head.html %}

<body class="min-h-screen bg-gray-900 text-gray-100 sm:p-16">

  <div class="sm:max-w-4xl sm:mx-auto sm:rounded-lg sm:overflow-hidden">

    <!-- Main -->
    <div>
      {% include header.html %}

      <main class="bg-gray-100 text-gray-800">
        {{ content }}
      </main>
    </div>
    <!-- Sidebar -->
    <div class="bg-gray-600 text-gray-200">
      {% include footer.html %}
    </div>

  </div>

  {% include analytics.html %}

</body>

</html>
